/*z-index*/
$z-index-content: 999;
$z-index-header: 1000;
$z-index-footer: 1000;
$z-index-top-menu: 1001;
$z-index-red-bag: 1001;
$z-index-select: 1001;
$z-index-modal-view: 1001;
$z-index-option-menu: 1002;

$z-index-input-dialog: 1102;
$z-index-confirm: 1102;
$z-index-loading: 1103;
$z-index-toast: 1104;

/*color*/
$color-line: #EBEBEB;
$color-text-orange: #FC7203;
$color-yellow: #FFBF2E;
$color-text-green: #44AD1C;
$color-text-gray: #ABABAB;
$color-text-danger: red;
$color-text-danger-press: #b30000;
$color-text-danger-disabled: #ff8080;
$color-white-press: #cccccc;
$color-btn-success: #44AD1C;
$color-btn-success-press: #338014;
$color-btn-success-disabled: #99cc99;

$color-loading-point-white: #fff;
$color-loading-point-gray: #A9A5AD;
$color-loading-point-grayer: #8C8990;

$color-switch-off: #ddd;
$color-switch-on: #4cd964;

/*num*/
$num-header-height: 45px;
$num-footer-tabs-height: 50px;
$num-button-height: 38px;
$num-button-normal-height: 35px;
$num-button-small-height: 28px;

/*other*/
$border-color: #ddd;
$border-blue-color: #145fd7;

$blue: #4a87ee;
$hover: #f5f5f5;

