.mi-margin-top {
  margin-top: 15px;
}

.mi-margin-top-bottom {
  margin-top: 15px;
  margin-bottom: 25px;
}

.mi-center {
  text-align: center;
}

.mi-wx-icon {
  width: 12px;
  height: 12px;
}

.mi-p {
  margin: 5px 8px;
}

.line-through{
  text-decoration: line-through;
}

.no-margin{
  margin: 0;
}

.order-detail-option-menu{
  font-size: 10pt;
  font-weight:lighter;
  color: yellow;
}

.create-score2cash-option-menu{
  font-size: 10pt;
  font-weight:lighter;
  color: yellow;
}