@mixin float-middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@mixin mix_loading_point {
  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

@mixin mix_button{
  -webkit-appearance: none;
  height: $num-button-height;
  border-radius: 4px;
  min-width: 120px;
  outline: none;
  box-shadow: none;
}