body {
  overflow-x: hidden;
  opacity: 0;
  animation: body-in .3s forwards;
  -moz-animation: body-in .3s forwards; /* Firefox */
  -webkit-animation: body-in .3s forwards; /* Safari 和 Chrome */
  -o-animation: body-in .3s forwards; /* Opera */
}

@keyframes body-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes body-in /* Firefox */
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes body-in /* Safari 和 Chrome */
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes body-in /* Opera */
{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}