.mi-option-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-option-menu;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;

  > .body {
    > .header {
      position: absolute;
      top: 5px;
      left: 0;
      text-align: center;
      width: 100%;
      color: gray;
    }
    background: white;
    border-top: 1px solid $border-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 30px 5px 5px 5px;
    min-height: 180px;
    vertical-align: middle;
    > button {
      -webkit-appearance: none;
      border-radius: 4px;
      width: 90%;
      max-width: 280px;
      outline: none;
      box-shadow: none;
      display: inline-block;
      height: $num-button-height;
      margin: 10px 5px;
    }
  }
}