// Place all the styles related to the directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon-dir {
  color: $color-yellow;
}

.icon-file {
  color: gray;
}

.icon-file-item-action {
  color: #ddd;
}

//上传文件的入口
#upload-file-btn {
  position: relative;
}

#upload-file-input {
  min-width: 120px;
  width: 100%;
  display: inline-block;
  opacity: 0;
  height: 35px;
  top: 0;
  position: absolute;
  left: 0;
}

//预览文件
img.img-preview {
  max-width: 100%;
}

